* {
    box-sizing: border-box;
  }

.about-main {
    background: var(--background-color);
    margin: 2rem;
    padding: 1rem;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
} 

.interests {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: justify;
}

.interests p {
    font-family: Roboto,sans-serif;
    font-size: 22px;
}

.resume {
    background-color: #fff;
    text-align: center;
    border-radius: 10px;
    padding: 1rem;
    font-size: 18px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', sans-serif;;
}

.resume button {
    width: 180px;
    height: 60px;
    border-radius: 20px;
    background: var(--foreground-color);
    margin: 0px 12px;
    border-radius: 30px;
    font-size: 20px;
    font-weight: 700;
    outline: none;
    border: none;
    cursor: pointer;
    color: #fff;
    box-shadow: 3px 3px 8px #b1b1b1, -3px -3px 8px #ffffff;
    transition: 0.5s;
}

.resume p {
    font-size: 20px;
}

#blog-link {
    font-size: 18px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', sans-serif;
    background: #fff;
    border-radius: 10px;
    padding: 1rem;
    text-align: center;
    margin-right: 1rem;
    margin-left: 1rem;
}

.link {
    margin-top: 1rem;
    font-size: 20px;
}

.link a {
    text-decoration: none;
}

@media screen and (min-width: 768px) {
    .about-main {
        flex-direction: row;
        justify-content: center;
        gap: 4rem;
        padding: 3rem;
        margin-top: 3rem;
        margin-right: 6rem;
        margin-left: 6rem;
        margin-bottom: 3rem;
    }

    .resume button:hover {
        transform: scale(1.07);
    }
}