* {
    box-sizing: border-box;
  }

  /* styling the main container */
.about-main {
    background: var(--background-color);
    margin: 2rem;
    padding: 1rem;
    padding-bottom: 2rem;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: var(--shadow);
} 

/* flexbox container displaying in column */
.interests {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: justify;
}

.interests p {
    font-family: "Roboto",sans-serif;
    font-size: 18px;
}

/* styling the resume box */
.resume {
    background-color: #fff;
    text-align: center;
    border-radius: 10px;
    padding: 1rem;
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    box-shadow: var(--shadow);
}

/* styling the resume button */
.resume button {
    width: 180px;
    height: 60px;
    border-radius: 20px;
    background: var(--button-color);
    margin: 0px 12px;
    border-radius: 30px;
    font-size: 20px;
    font-weight: 700;
    outline: none;
    border: none;
    cursor: pointer;
    color: #fff;
    box-shadow: var(--deep-shadow);
    transition: 0.5s;
}

/* resume button animation hover */
.resume button:hover{
    background: #fff;
    color: var(--button-color);
    box-shadow: var(--button-shadow);
}

.resume p {
    font-size: 20px;
}

/* styling the text inside the blog link container */
#blog-link {
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    background: #fff;
    border-radius: 10px;
    padding: 1rem;
    text-align: center;
    margin-right: 1rem;
    margin-left: 1rem;
    box-shadow: var(--shadow);
}

.link {
    margin-top: 1rem;
    font-size: 20px;
}

/* stylin the blog link */
.link a {
    color: var(--button-color);
    text-decoration: none;
}

.link a:visited {
    color: var(--button-color);
}

/* media query for desktop */
@media screen and (width > 768px) {
    /* dislaying the containers in row*/
    .about-main {
        flex-direction: row;
        justify-content: center;
        gap: 4rem;
        padding: 2rem;
        margin-top: 3rem;
        margin-right: 6rem;
        margin-left: 6rem;
        margin-bottom: 3rem;
    }
}