* {
    box-sizing: border-box;
  }

  /* styling the main container */
.about-main {
    background: var(--background-color);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: var(--shadow);
} 

/* flexbox container displaying in column */
.interests  {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.interests p {
    font-family: "Roboto",sans-serif;
    font-size: 18px;
    text-align: center;
}

/* styling the resume box */
.resume {
    background-color: white;
    text-align: center;
    border-radius: 10px;
    padding: 1rem;
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    box-shadow: var(--shadow);
}

/* styling the resume button */
.resume button {
    font-size: 15px;
    font-weight: 600;
    padding: 12px 24px;
    border-radius: 25px;
    color: var(--button-color);
    background: white;
    border: 2px solid black;
    outline: none;
    cursor: pointer;
    transition: 0.2s ease-in;
    box-shadow: var(--shadow);
}

/* resume button animation hover */
.resume button:hover{
    background: transparent;
    color: var(--button-color);
    box-shadow: var(--button-shadow);
}

.resume p {
    font-size: 20px;
}


.link {
    margin-top: 1rem;
    font-size: 20px;
}

/* stylin the blog link */
.link a {
    color: var(--button-color);
    text-decoration: none;
}

.link a:visited {
    color: var(--button-color);
}

/* media query for desktop */
@media screen and (width > 768px) {

    .wrapper {
        display: flex;
        justify-content: center;
    }

    /* dislaying the containers in row*/
    .about-main {
        gap: 4rem;
        width: 60dvw;
        border-radius: 30px;
        margin: 2rem;
        padding: 2rem;
    }
}