* {
    box-sizing: border-box; 
}

.blog-posts {
    display: flex;
    flex-direction: column;
    font-family: roboto, sans-serif;
    justify-content: center;
    align-items: center;
    background: var(--background-color);
    border-radius: 20px;
    margin-top: 3rem;
}

.cards-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1.5rem;
}

.post {
    text-align: center;
    font-style:italic;
    padding: 1.5rem 2rem 0 2rem;
}

.post h3 {
    margin: 0;
    font-size: 22px;
    color: black;
}

.card {
    width: 220px;
    height: 350px;
    border-radius: 20px;
    overflow: hidden;           /* any element exceeding the card div will be hidden 
                                in this case it's the card-body*/
    border: 5px solid black;
    position:relative;
    margin-top: 1rem;
    text-align: center;
    margin-bottom: 2rem;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* it makes the image in proportion avoiding stretching */
    border-radius: 15px;
}

.card-body {
    width: 100%;        /* giving height and width 100% it will cover the whole card div */
    height: 100%;
    position: absolute;     /* take out the card-body from the natural flow of the elements */
    top: 0;         /* aligns the card-body with the card container*/
    right: -100%;   /* it will shift the card-body (title, date, description) to the side, right next of the div card
                        but it can't be seen because of the property overflow: hidden; */ 
    border-radius: 15px;
    background: #1f3d4718;    /* set the transaparency */
    backdrop-filter: blur(5px);
    color: #fff;
    padding: 1.5rem;
    padding-top: 0;
    margin-top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 1s;     /* it sets the transition time for the card:hover */
}

.card:hover .card-body{     /* setting the hover for the main card div but modifying the card.body */
    right: 0;              /*  it overlays the card-body (title, date and description) on top of the card image  */
    cursor: pointer;
}

.card-title {
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    margin: 0;
}

.card-date {
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    margin: 0;
}

.card-description {
    color: #fff;
    font-size: 17px;
    font-weight: 300;
    margin: 0.5rem 0;
}

.card-btn {         /* styling the button */
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    background: #8fabba7a;
    justify-content: center;
    margin-top: 10px;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
}

.blog-introduction {
    background: var(--background-color);
    border-radius: 20px;
    margin: 2rem;
    font-size: 20px;
    font-family: Roboto, sans serif;
    text-align: justify;     
    font-size: 17px;   
    border-radius: 20px;
    color: black;
    padding: 1rem 2rem 1rem 2rem;
}


@media screen and (min-width: 768px) {
    main {
        padding-top: 0;
    }

    .cards-container {
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
    }
}