* {
    box-sizing: border-box;
}

.introduction {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /* background-color: var(--background-color); */
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 30px;
}

.presentation-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("../images/id-background3.jpg");
    background-repeat: no-repeat;
    border-radius: 30px;
    margin-top: 2rem;
}

.presentation span {
    color: var(--foreground-color);
    font-size: 28px;
    font-weight: bold;
    letter-spacing: 4px;
}

.presentation {
    background: var(--background-color);
    border-radius: 30px;
    border: 3px solid black;
    margin: 2rem;
    /* transform: rotate(-20deg); */
}

.presentation-text {
    /* transform: rotate(20deg); */
    text-align: center;
    padding: 10px;
    
}

.photo-id {
    margin-top: 1rem;
}


.photo-id img {
    width:160px;
    height: 160px;
    border-radius: 50%;
    border: 3px solid black;
}

.presentation-body button {
    background: var(--foreground-color);
    width: 120px;
    height: 40px;
    border-radius: 10px;
    color: var(--background-color);
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s;
}

.presentation-body button:hover{
    background: #31279d;
}





@media screen and (width > 600px) {
    .introduction {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin: 5rem;
        gap: 4rem;
    }

    .photo-id img {
        width: 220px;
        height: 220px;
    }

    .presentation-body {
        padding-top: 6rem;
        width: 60%;
    }

    .presentation {
        width: 50%;
    }

    .splash {
        visibility: initial;
        background-image: url(../images/background2.jpg);
        background-position: fixed;
        background-size: cover;
        background-position: center;
        height: 300px;
    }


}

