/* box sizing set as default */
* {
    box-sizing: border-box;
}

/* main container (photo-id and image) set to flexbox */
.presentation-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 1rem;
}

/* setting the container as flexbox for the image and the text container 
    giving the background image*/
.presentation-body {
    display: flex;
    flex-direction: column;
    width: 100dvw;
    background-image: url("../images/id-background3.jpg");
    margin-top: 2rem;
}

/* styling the text */
.presentation-card p:nth-child(2) {
    color: var(--button-color);
    font-size: 28px;
    font-weight: bolder;
    letter-spacing: 7px;
}

/* styling the container */
.presentation-card {
    background: #ffffff65;
    border-radius: 10px;
    margin: 3rem;
    margin-bottom: 0;
    backdrop-filter: blur(3px);
    text-align: center;
    padding: 1rem 2rem 1rem 2rem;
     box-shadow: 12px 15px 7px -2px rgba(172,197,235,0.48);
    -webkit-box-shadow: 12px 15px 7px -2px rgba(172,197,235,0.48);
    -moz-box-shadow: 12px 15px 7px -2px rgba(172,197,235,0.48);
}

/* set the container for the presentation text and the button as flexbox
    in order to display them in column */
.card-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.photo-id {
    margin-top: 1rem;
}

/* styling the photo ID */
.photo-id img {
    width:160px;
    height: 160px;
    border-radius: 50%;
    border: 3px solid black;
    box-shadow: var(--deep-shadow);
}

/* styling the "learn more button" */
.presentation-body button {
    background: var(--button-color);
    width: 130px;
    height: 50px;
    margin-bottom: 1rem;
    border-radius: 10px;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s;
    box-shadow: 12px 15px 7px -2px rgba(172,197,235,0.48);
    -webkit-box-shadow: 12px 15px 7px -2px rgba(172,197,235,0.48);
    -moz-box-shadow: 12px 15px 7px -2px rgba(172,197,235,0.48);
}

/* button hover animation */
.presentation-body button:hover {
    background: #ffffff65;
    color: var(--button-color);
    box-shadow: var(--button-shadow);
    
}

/* media query for desktop */
@media screen and (width > 768px) {

    /* photo-id and image displayed side by side */
    .presentation-main {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin: 4rem 0 4rem 0;
        gap: 4rem;
    }

    .photo-id img {
        width: 220px;
        height: 220px;
    }

    /* displaying the text container and the image as flex-start */
    .presentation-body {
        align-items: flex-start;
        padding-top: 6rem;
        margin: 0;
        /* width: 60%; */
        width: 600px;
        background-size: initial;
        border-radius: 10px;
        box-shadow: var(--deep-shadow);
    }

    .presentation-card {
        width: 200px;
        justify-content: flex-start;
        
    }
}

/* media query for tablet */
@media screen and (min-width: 600px) and (max-width: 768px) {

    .presentation-body {
        width: 70dvw;
        border-radius: 10px;
        box-shadow: var(--deep-shadow);
    }
}

