/* importing the fonts */
@import url('https://db.onlinewebfonts.com/c/4ff6f056f9052b835e33438a16ed81d4?family=Recepts+NF+W01+Regular');
@import url('https://fonts.googleapis.com/css2?family=Danfo&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Danfo&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


/* declaring the variables and the main font-family used for the nav bar, body and footer */
:root {
    box-sizing: border-box; 
    font-family: Arial, sans-serif;
    --background-color:#e0e0de70;
    --background-color-secondary: hsla(211, 82%, 13%, 0.925);
    --button-color: #B20000;
    --shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    --deep-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    --button-shadow: #B20000 0px 5px 15px 0px;
}

/* setting the body with the full viewport width and height, with no margin and no padding */
body {
    background: var(--background-color);
    margin: 0;
    padding: 0;
    width: 100dvw;
    height: 100dvh;
}

/* giving the header full viewport width for mobile and tablet */
header {
    background-color:  var(--background-color-secondary);
    color: #fff;
    width: 100dvw;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 1rem;
}

/* styling the logo container */
.logo {
    margin-top: 1rem;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 3px solid black;
    transition: ease-in 0.3s;
}


/* flexbox that display the logo and the title name in column */
.logo-text {
    display: flex;
    flex-direction: column;
}

/* styling the title's name */
.main-title {
    font-family: "Recepts NF W01 Regular";
    font-size: 20px;
    letter-spacing: 10px;
}

.main-title p {
    margin-left: 10px;
    margin-right: 10px;
}

/* nav bar is a flexbox displaying the nav link in row */
nav {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 17px;
    padding: 0;
}

/* styling the nav bar links */
nav a {
    color:#fff;
    font-size: 17px;
    font-weight: bold;
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 22px;
}

/* creating an underline animation when hover the nav link */

/* create a pseudo element after the element */
nav a::after {
    content: "";        /* giving an empty content in order for the pseudo element to be created*/
    display: block;    
    height: 3px;        /* create ana element of 3px height, the width is the same width of the <a> element */
    background-color: #fff;
    transform: scale(0);        /* scale(0) resize the new pseudo element to 0 creating an hiding effect*/
    transition: 0.3s all ease-in-out;   /* setting the transition time */
    transform-origin: left;   /* starting point of the animation */
}

/* hovering the link*/
nav a:hover::after {
    transform: scale(1);        /* scale(1) make the pseudo element be visible 
                                    again with a sliding effect*/

}

/* styling the footer */
footer {
    background: var(--background-color-secondary);
    color: #fff;
    width: 100dvw;    /* it takes the 100% of the viewport width */
    padding-top: 1rem;
    text-align: center;
}

.main-box {
    height: 100dvh;         /* set the full height for the main-box (header, main, footer) */
    display: flex;          /* use flex box to display them in column */
    flex-direction: column;
    justify-content: space-between; /* use space-between, so the header, main and footer push each other away
                                        in order for the header to be always at the top, the main at the center and the footer at the bottom */
}

.social-media {        /* the icons in the footer section are displayed with flex box */
    display: flex;
    justify-content: space-around;
    list-style: none;
    text-align: center;
}

/* styling the size and color of the icons */
.social-media a i {
    font-size: 35px;
    color: #fff;
}

/* setting relative position for the icons */
.social-media .icon {
    position: relative;
    width: 50px;
    height: 50px;
    transition: all 0.2s ease;
    
}

.info span {
    margin-right: 0.5rem;
}
.info address {
    padding: 0.5rem;
}

/* styling and center the main topic title of each page */
.main-topic {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 17px;
    color: black;
    margin: 1rem 1rem 2rem 1rem;
    margin-bottom: 2rem;
}

.main-topic h1 {
    text-align: center;
    margin-bottom: 0;
    background: var(--background-color);
    border-radius: 20px;
    padding: 0.8rem;
    letter-spacing: 5px;
    font-family: "Lato", sans-serif;
    box-shadow: var(--shadow);
}

/* setting the background property of the div for tyhe cover image */
.cover-photo {
    background-image: url(../images/background2.jpg);
    background-position: fixed;
    background-size: cover;
    background-position: center;
    height: 100px;
}

/* media query for desktop */

 @media screen and (width > 768px) {
    .logo-text {
        flex-direction: row;
        justify-content: space-around;
        margin: 2rem 0 2rem;
    }

    nav {
        display: flex;
        justify-content: space-around;
        padding: 0 1rem; /* Add padding to the left and right for better spacing */
    }
    
    /* styling the nav bar links */
    nav a {
        font-size: 25px;
    }

    .logo {
        width: 110px;
        height: 110px;
        margin: 0;
    }

    .name {
        font-size: 27px;
    }

    .main-title {
        letter-spacing: 25px;
    }

    .cover-photo {
        height: 230px;
    }

    footer {            
        margin: 0;  /* set the margin back to 0 */
    }

    /* styling the info inside the footer */
    .info span {
        font-size: 20px;
        margin-right: 0.5rem;
        margin-bottom: 2rem;
    }

    .social-media {
        gap: 20px;
    }

    /* setting the social media icons with absolute position and top:0 
    so they can slide up once have been hovered*/
    .social-media .pop-up {
        position: absolute;
        top: 0;
        padding: 5px 8px;
        opacity: 1;
        transition: all 0.3s ease;
    }
    
    /* the icon move up by 40px creating a pop up effect */
    .social-media .icon:hover .pop-up {
        top: -20px;
    }

    .information {
        display: flex;
        justify-content: space-between;
    }
}

/* media query for tablets */

 @media screen and (min-width: 600px) and (max-width: 768px) {
    
    /* displaying the logo at the left and the title name at the right */
    .logo-text {
        flex-direction: row;
        justify-content: space-between;
        margin-left: 1rem;
        margin-right: 1rem;
    }

    /* spacing the link in the nav bar */
    nav {
        justify-content: space-between;
        margin: 1rem;
        margin-bottom: 0;
    }

    .main-title {
        margin-top: 2rem;
    }
}