* {
    box-sizing: border-box;
}


/* main container set as flexbox column displayed */
.blog-wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}
/* styling the blog text */
.blog-topic {
    background: var(--background-color);
    border-radius: 20px;
    margin: 1rem;
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    font-size: 17px;   
    text-align: justify;
    border-radius: 20px;
    color: black;
    padding: 1rem 2rem 1rem 2rem;
    box-shadow: var(--shadow);
}

.blog-img img {
    width: 220px;
    object-fit: cover;
}

/* images container set as flexbox */
.blog-img {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* styling the image and img-caption container */
.img-wrapper {
    background: var(--background-color);
    border-radius: 20px;
    margin: 1rem;
    padding: 1.5rem;
    border-radius: 20px;
    box-shadow: var(--shadow);
}

/* styling the img caption*/
figcaption {
    text-align: center;
    margin-top: 1rem;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-style: italic;
}

/* arrows icons container set as flexbox so the arrow are displayed one to each side by the space aroun value */
.arrows-wrap {
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-top: 1rem;
}

/* styling the arrows icons */
.arrow i {
    font-size: 25px;
    color: black;
}

.arrow a {
    text-decoration: none;
    font-size: 20px;
    color:black;
}

.arrow a p {
    margin-top: 0;
}

/* styling the icon so it looks disabled */
#arrow-disabled a {
    pointer-events: none;
    color: darkgray;
}

#arrow-disabled i {
    color: darkgrey;
}

#arrow-disabled a:hover {
    cursor: default;
}

/* media query for desktop */
@media screen and (width > 768px) {

    /* displaying the images in row */
    .blog-img {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .blog-img img {
        width: 420px;
        object-fit: cover;
    }

    .blog-topic {
        margin: 0 2rem 2rem 2rem;
    }

    .arrows-wrap {
        justify-content: space-between;
    }

    .arrow {
        margin: 0 4rem 0 4rem;
    }
}

/* media query for tablets */

@media screen and (min-width: 600px) and (max-width: 768px) {
    .blog-img {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
}