* {
    box-sizing: border-box;
}


.title {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 2rem;
}

.blog-introduction {
    background: var(--background-color);
    margin: 1rem 0 1rem 0;
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    font-size: 17px;   
    color: black;
    padding: 1rem 2rem 1rem 2rem;
    box-shadow: var(--shadow);
}

/* main container set as flexbox column displayed */
.blog-wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 2rem;
}

.blog-topic-wrapper {
    display: flex;
    justify-content: center;
}

/* styling the blog text */
.blog-topic {
    background: var(--background-color);
    margin: 1rem 0 1rem 0;
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    font-size: 17px;   
    color: black;
    padding: 1rem 2rem 1rem 2rem;
    box-shadow: var(--shadow);
    border-radius: 20px;
}

.repo {
    text-decoration: none;
}

/* arrows icons container set as flexbox so the arrow are displayed one to each side by the space aroun value */
.arrows-wrap {
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-top: 1rem;
}

/* styling the arrows icons */
.arrow i {
    font-size: 25px;
    color: black;
}

.arrow a {
    text-decoration: none;
    font-size: 20px;
    color:black;
}

.arrow a p {
    margin-top: 0;
}

/* styling the icon so it looks disabled */
#arrow-disabled a {
    pointer-events: none;
    color: darkgray;
}

#arrow-disabled i {
    color: darkgrey;
}

#arrow-disabled a:hover {
    cursor: default;
}

/* media query for desktop */
@media screen and (width > 768px) {

    .blog-introduction {
        width: 50dvw;
        border-radius: 20px;
        margin-bottom: 7rem;
    }

    .blog-wrapper {
        flex-direction: row;
        justify-content: space-between;
        padding: 0;
    }

    .blog-topic {
        width: 30dvw;
        border-radius: 20px;
        margin: 0 2rem 2rem 2rem;
    }


    .arrows-wrap {
        justify-content: space-between;
    }

    .arrow {
        margin: 0 4rem 0 4rem;
    }

}