* {
    box-sizing: border-box;
}


.title {
    color: var(--button-color);
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 2rem;
}

/* main container set as flexbox column displayed */
.blog-wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 2rem 0 2rem 0;
    gap: 4rem;
}


/* styling the blog text */
.blog-topic {
    background: var(--background-color);
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    font-size: 17px;   
    color: black;
    padding: 0 2rem 1rem 2rem;
    margin-top: 0;
    box-shadow: none;
    border-radius: 20px;
}

.repo {
    display: flex;
    justify-content: center;

}

.repo button {
    font-size: 12px;
    font-weight: 800;
    margin: 0.5rem;
    padding: 10px 20px;
    border-radius: 25px;
    color: var(--button-color);
    background: white;
    border: 2px solid black;
    outline: none;
    cursor: pointer;
    transition: 0.2s ease-in;
    box-shadow: var(--shadow);
}

.repo button:hover{
    background: transparent;
    color: var(--button-color);
    box-shadow: var(--button-shadow);
}


.repo a {
    text-decoration: none;
}

/* arrows icons container set as flexbox so the arrow are displayed one to each side by the space aroun value */
.arrows-wrap {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 1rem;
}

/* styling the arrows icons */
.arrow i {
    font-size: 25px;
    color: black;
}

.arrow a {
    text-decoration: none;
    font-size: 20px;
    color:black;
}

.arrow a p {
    margin-top: 0;
}

/* styling the icon so it looks disabled */
#arrow-disabled a {
    pointer-events: none;
    color: darkgray;
}

#arrow-disabled i {
    color: darkgrey;
}

#arrow-disabled a:hover {
    cursor: default;
}

/* media query for desktop */
@media screen and (width > 768px) {

    .blog-wrapper {
        flex-direction: row;
        justify-content: center;
        margin-top: 3rem;;
        margin-bottom: 3rem;
    }

    .blog-topic {
        width: 30dvw;
        border-radius: 20px;
        padding: 3rem;
        margin: 0 2rem 2rem 2rem;
        box-shadow: var(--shadow);
    }

    /* #arrows-top {
        display: none;
    } */

    .arrows-wrap {
        justify-content: space-around;
    }

    .arrow {
        margin: 0 4rem 0 4rem;
    }

    .arrow i {
        font-size: 35px;
    }
    
    .arrow a {
        text-decoration: none;
        font-size: 25px;
    }

}

/* media query for tablets */
@media screen and (min-width: 600px) and (max-width: 768px) {
    .blog-topic {
       margin: 2rem;
    }
}