* {
    box-sizing: border-box; 
}

/* styling the blog posts text */
.blog-posts {
    display: flex;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
    justify-content: center;
    align-items: center;
    background: var(--background-color);
    border-radius: 20px;
    margin-top: 3rem;
    box-shadow: var(--deep-shadow);
    
}

/* main container (it contains all the cards) set as flexbox and displaying them in column*/
.cards-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
    margin-bottom: 2rem;
}

.post {
    text-align: center;
    padding: 1.5rem 2rem 0 2rem;
}

.post h3 {
    margin: 0;
    font-size: 22px;
    color: black;
    font-family: "Lato", sans-serif;
}

.card {
    width: 220px;
    height: 350px;
    border-radius: 20px;
    overflow: hidden;           /* any element exceeding the card container will be hidden 
                                in this case it's the card-body*/
    border: 5px solid black;
    position:relative;
    margin-top: 1rem;
    text-align: center;
    margin-bottom: 2rem;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* it makes the image in proportion avoiding stretching */
    border-radius: 15px;
}

/* creating an hidden card that is placed next to the card itself */
.card-body {
    width: 100%;        /* giving height and width 100% it will cover the whole card div */
    height: 100%;
    position: absolute;     /* take out the card-body from the natural flow of the elements */
    top: 0;         /* aligns the card-body with the card container*/
    right: -100%;   /* it will shift the card-body (title, date, description) to the side, right next of the div card
                        but it can't be seen because of the property overflow: hidden; */ 
    border-radius: 15px;
    background: #1f3d4718;    /* set the transaparency */
    backdrop-filter: blur(5px); /* set the blur filter */
    color: #fff;
    padding: 1.5rem;
    padding-top: 0;
    margin-top: 0;
    display: flex;          /* card body elements placed in column and centered it */
    flex-direction: column;
    justify-content: center;
    transition: 1s;     /* it sets the transition time for the card:hover */
}

.card:hover .card-body{     /* setting the hover for the main card container but modifying the card.body */
    right: 0;              /*  it overlays the card-body (title, date and description) on top of the card image  */
    cursor: pointer;
}

/* styling the card title text */
.card-title {
    color: #fff;
    font-size: 23px;
    font-weight: bold;
    font-family: "Lato", sans-serif;
    top:0;

}


/* styling the card description text */
.card-description {
    color: #fff;
    font-size: 17px;
    font-weight: bold;
    font-style: italic;
    margin: 0.5rem 0;
}

/* styling the button */
.card-btn {         
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    background: #8fabba7a;
    justify-content: center;
    margin-top: 10px;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
}

/* styling the blog text */
.blog-introduction {
    background: var(--background-color);
    border-radius: 20px;
    margin: 2rem;
    font-family: "Roboto", sans-serif;
    text-align: center;     
    font-size: 18px;   
    border-radius: 20px;
    color: black;
    padding: 1rem 2rem 1rem 2rem;
    box-shadow: var(--shadow);
}

/* media query for desktop */
@media screen and (width > 768px) {
    main {
        padding-top: 0;
    }

    /* cards container displayed in row */
    .cards-container {
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
        gap: 4rem;
        margin-bottom: 7rem;
    }

    .blog-wrapper {
        display: flex;
        justify-content: center;
    }

    .blog-introduction {
        width: 50dvw;
    }
}

/* media query for tablets */
@media screen and (min-width: 600px) and (max-width: 768px) {
    .cards-container {
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
    }
}